$overlay-default-background: #D2EED6;
$global-primary-background: #369042;
$global-muted-background: #D2EED6;
$global-secondary-background: #369042;
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss"; 
@import "~uikit/src/scss/uikit-theme.scss";
html {
    letter-spacing: .1px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.tabes{
    .uk-active a {
        color: darken(#369042, 20) !important;
    }
}
// p, li { 
//     font-size:  1.3rem;
//     line-height: 2rem;
// }